<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
    <f:metadata>
        <f:viewAction action="#{groupController.loadGroup(param.index)}"/>
    </f:metadata>
    <h:head>
        <title>Waiting List</title>
    </h:head>
    <h:body>
        <h1>Edit Group</h1>
        <h:form>
            <p>
                <label>Group Name:
                    <h:inputText id="name" value="#{groupController.group.name}" validatorMessage="You must enter a name." />
                    <h:message for="name"/>
                </label>
            </p>
            <p>
                <label>Group Size:
                    <h:inputText id="size" value="#{groupController.group.size}" validatorMessage="Please enter a group size between 1 and 20." converterMessage="You must enter a valid number."/>
                    <h:message for="size"/>
                </label>
            </p>
            <p>
                <h:inputHidden value="#{groupController.group.id}"/>
                <h:button value="Cancel" outcome="waitinglist"/>
                <h:commandButton value="Save" action="#{groupController.saveChanges}"/>
            </p>
        </h:form>
    </h:body>
</html>