* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Gotham, sans-serif;
    font-size: 13px;
    line-height: 1.5;
    
}

.container {
    width: 400px;
    margin: 0 auto;
}

input, textarea, button {
    display: block;
    margin: 0 0 10px;
}

input, textarea {
    border: 1px solid rgba(0,0,0,0.25);
    border-radius: 3px;
    padding: 5px 8px;
    width: 100%;
}