<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
    <title>Facelet Title</title>
</h:head>
<h:body>
    <h:form>
        <h:messages/>
        <h:dataTable var="row" value="#{accountController.allUsers}">
            <h:column>
                <f:facet name="header">
                    Username
                </f:facet>
                <h:outputText value="#{row.username}"/>
            </h:column>
            <h:column>
                <f:facet name="header">
                    Password
                </f:facet>
                <h:outputText value="#{row.password}"/>
            </h:column>
            <h:column>
                <f:facet name="header">
                    Full Name
                </f:facet>
                <h:outputText value="#{row.fullname}"/>
            </h:column>
            <h:column>
                <f:facet name="header">
                    Email
                </f:facet>
                <h:outputText value="#{row.email}"/>
            </h:column>
            <h:column>
                <f:facet name="header">
                    Date of Birth
                </f:facet>
                <h:outputText value="#{row.dob}"/>
            </h:column>
        </h:dataTable>
    </h:form>
</h:body>
</html>
